/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    padding: 20px;
}

.main {
    display: block;
}

h1, h2 {
    margin-top: 0;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1.5rem;
    border: 1px solid white ;
}

/* Mobile-first Design */
@media (min-width: 600px) {
    /* Adjustments for larger screens */
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section {
        gap: 1rem;
        margin: 0 10px;
    }
}

/* Styles specific to this page */
.accommodation-info, .contact, .gallery {
    margin-bottom: 20px;
}

.contact-options a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
}

.contact-options a:hover {
    background-color: #0056b3;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
